body{
 background-color:black; 
}
.row{ 
 background-color:black;
 color:white;
 font-size:20px;
 font-family: 'Josefin Slab', serif;
}
.footer{
 display:flex;
 justify-content:space-around;
 border:5px solid white;
}

.headshot{
 width:20%;
 border: solid white 5px;
 
}
.mid{
 display:flex;
 justify-content:space-around;
 background-color:black;
 color:white;
 align-items:center;
 font-size:50px;
 margin-top:30px;
 margin-bottom:5px;
}
.midd{
 display:flex;
 justify-content:space-around;
 background-color:black;
 color:white;
 align-items:center;
 font-size:25px;
}
.aboutme{
 border:1px solid black;
 display:flex;
 justify-content:center;
}
#pic{
 padding: 40px;
}
#about{
 padding: 100px;
 font-size: 25px;
 display:flex;
 justify-content:center;
 margin-top:170px;
}
.contact{
 display:flex;
 justify-content:space-around;
 margin-bottom: 20px;
}

a{
 color:white;
 text-decoration:none;
 margin:15px;
 }
a:hover{
 color:blue;
 text-decoration: underline;
}
#main{
 height:686px;
 width:1000px;
 margin-top: 25px;
}

.info{
 font-size:25px;
}

.projects{
 font-size:25px;
 padding-top: 10px;
 display:flex;
 justify-content:center;
}

.midd{
 margin:15px;
 border:solid white 5px;
}
.proList{
 border:solid white 5px; 
}
